<li class='collection-item record <%= cycle("on", "on-hover") %>' id="<%= dom_id(image_slideshow) -%>">
  <div class="row">
    <div class='title col s8'>
      <%= link_to refinery.image_slideshows_admin_image_slideshow_image_slides_path(image_slideshow) do %>
        <%= image_slideshow.title.titleize %>
      <% end %>
    </div>
    <div class='col s4 right-align'>
      <%= link_to refinery_icon_tag("img.png"), refinery.image_slideshows_admin_image_slideshow_image_slides_path(image_slideshow),
           :title => t('.manage_image_slides') %>
    </div>
  </div>
</li>
